body, html {
    margin: 0%;
    overflow-y: auto;

}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.fascinate-regular {
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    font-style: normal;

}

.actividades {
    color: rgb(89, 24, 109) !important;
}
.home{
    color: #c8a0e4 !important;
}
.navegacion a:hover {
    color: rgb(152, 99, 168) !important;
    transition: text-shadow 0.3s ease;
    text-shadow: 2px 2px 5px rgb(200, 160, 228);
}
.Textos{
    animation: cambio_pagina;
    animation-duration: 2s;
}
.navbar{
    animation: none !important;
}

.todote{
    animation: cambio_pagina;
    animation-duration: 2s;
}
.todote{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 40px;
    justify-content: space-between;
}


/*.accordion3{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px 100px;
    scale: 90%;
    margin: -425px 1300px;
}
*/
.cc{
    width: 500px;
    height: 300px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.accordion-button{
    
    width: 500px;
    height: 300px;
    padding: 0;
}
h1{
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    color: purple;
    text-align: center;
    padding-bottom: 5px;
}

.accordion-body{
    font-size: 110%;
}

p{
    text-decoration: none;
    color: none;
    font-weight: normal;
}
.todote .row{
    --bs-gutter-x: 17rem !important;
    --bs-gutter-y: 5rem !important;
}


@keyframes cambio_pagina {
    from {
        transform: translateX(2000px);
    }
    to{
        transform: translateX();
    }
}