.programa {
    color: rgb(89, 24, 109) !important;
}
.home{
    color: #c8a0e4 !important;
}
.navegacion a:hover {
    color: rgb(152, 99, 168) !important;
    transition: text-shadow 0.3s ease;
    text-shadow: 2px 2px 5px rgb(200, 160, 228);
}
.Textos{
    animation: cambio_pagina;
    animation-duration: 2s;
}
.navbar{
    animation: none !important;
}



.Muchotexto{
    margin-bottom: 40%;
}
.Muchotexto h1{
    font-size: 65px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    color: rgb(158, 42, 158);
    
}
.Muchotexto p{
    font-size: 25px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 85%;
}
.poster{
    height: auto !important;
    padding-bottom: 80%;
    box-shadow: none;
}
footer {
    width: 100%;
    min-height: 40px;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-image: linear-gradient(to top, rgb(229, 160, 231), rgba(167, 65, 159, 0));
    padding: 20px 0;
    gap: 700px;
    position: absolute;
    top: 90%;
}

@keyframes cambio_pagina {
    from {
        transform: translateX(2000px);
    }
    to{
        transform: translateX();
    }
}

